@{
    ViewBag.Title = "QuestionnaireFinish";
}

<h1 style="text-align:center">Thank You!</h1>
<p style="text-align:center"> You have successfully completed the Questionnaire, all information has been saved and stored in our databases.</p>
<p style="text-align:center" >To complete another questionnaire click the following button</p>
<input id="buttonYea" onclick="window.location.href='/Login_/Login'" type="button" value="Procced to Login Page" />
<style>
    #buttonYea{
        position:relative;
        right:-580px;
    }
</style>